@model Cart
@{
}

<div class="navbar-text">
    @if (Model.Lines.Count() > 0)
    {
        <small>
            <b>Your cart:</b>
            @Model.Lines.Sum(x => x.Quantity) product(s)
            @Model.ComputeTotalValue().ToString("c")
        </small>
    }

    <a class="btn btn-sm btn-secondary"
       asp-controller="Cart" asp-action="Index"
       asp-route-returnUrl="@ViewContext.HttpContext.Request.PathAndQuery()">
        <i class="fa fa-shopping-cart"></i>
    </a>

</div>